In [1]:
import pandas as pd #import pandas

In [2]:
 from urllib.request import urlopen #accepts my link as something useful

In [50]:
data_url = "https://gist.githubusercontent.com/dinosaursninja/cae83a39276ecf50d5c137e3a849fb09/raw/f091c3ac8b71914b79acc8064f935b61ab8eb0cf/Cost%2520of%2520Cancer%2520Treatments%25202010%2520to%25202020"

In [51]:
data = urlopen(data_url) #store url in an object

In [52]:
df = pd.read_csv(data) #upload that data as a dataframe

In [53]:
df.dtypes #show the data type is the data set

Cancer Site                                                   object
Year                                                           int64
Sex                                                           object
Age                                                           object
Incidence and Survival Assumptions                            object
Annual Cost Increase (applied to initial and last phases)     object
Total Costs                                                  float64
Initial Year After Diagnosis Cost                            float64
Continuing Phase Cost                                        float64
Last Year of Life Cost                                       float64
dtype: object

In [54]:
df.head() #show the header of the dataset

,Cancer Site,Year,Sex,Age,Incidence and Survival Assumptions,Annual Cost Increase (applied to initial and last phases),Total Costs,Initial Year After Diagnosis Cost,Continuing Phase Cost,Last Year of Life Cost
0,AllSites,2010,Both sexes,All ages,Incidence/Survival at constant rate,0%,124565.6,40463.5,46642.8,37459.2
1,AllSites,2010,Both sexes,All ages,Incidence follows recent trend/Survival constant,0%,122420.8,38552.7,46671.9,37196.3
2,AllSites,2010,Both sexes,All ages,Survival follows recent trend/Incidence constant,0%,125397.7,40463.5,47136.3,37797.9
3,AllSites,2010,Both sexes,All ages,Incidence/Survival follow recent trends,0%,123236.3,38552.7,47155.7,37527.8
4,AllSites,2010,Both sexes,All ages,Incidence/Survival follow recent trends,2%,123236.3,38552.7,47155.7,37527.8

In [55]:
df.describe() #sumarize

,Year,Total Costs,Initial Year After Diagnosis Cost,Continuing Phase Cost,Last Year of Life Cost
count,1254.000000,1254.000000,1254.000000,1254.000000,1254.000000
mean,2015.000000,15221.008852,4677.505742,5764.655024,4778.848804
std,3.163539,31489.503603,9703.258460,12094.699099,9930.281985
min,2010.000000,1204.600000,293.000000,98.900000,330.600000
25%,2012.000000,2866.625000,939.175000,846.875000,908.925000
50%,2015.000000,5107.350000,1377.150000,1940.350000,1755.200000
75%,2018.000000,14178.925000,4883.050000,5187.200000,4465.275000
max,2020.000000,206587.100000,68858.000000,66099.700000,74159.700000